
body {
  margin: 0;
  
  background: black;
  }

  a{
  	display: inline-block;
  	height: 50px;
  	width: 100px;
  	color:red;
  	border: 2px solid red ;
  	border-radius: 10px;
  	text-align: center;
  	padding: 10px 0;
  	box-sizing: border-box;
  	margin: 20px;
  	position: fixed;
  	top: 0;
  	left: 0;
 transition: all 1s;
  }
  a:hover{
  	color: white;
  	border: 2px solid white ;

  }

.sky {
  position: relative;
  width: 1200px;
  height: 350px;
  overflow: hidden;
  background: steelblue;
  box-shadow: 0 -400px 300px -300px orangered inset;
  animation: sky 20s infinite linear;
  margin: 0 auto;
  }
.sea{
	position: relative;
  width: 1200px;
  height: 750px;
  overflow: hidden;
  background: blue;
  box-shadow: 0 330px 300px -300px orangered inset;
  animation:  20s rise infinite linear, 20s sea infinite linear;
  margin: 0 auto;
 
  }
  .sea2{
  	position: absolute;
  	width: 300px;
  	height: 100px;
  	background: blue;
  	top: 270px;
  	left: 40%;
  	z-index: 1;
  animation:   20s sea infinite linear;
  }


.sun {
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 10em;
  height: 10em;
  margin-left: -2.5em;
  margin-top: 0;
  background: orangered;
  border-radius: 50%;
  box-shadow: 0 0 20px orange;
  animation: sun 20s infinite linear;
 
  }

.star{
	height: 3px;
	width: 3px;
	position: absolute;
	background: yellow;
	top: 10px;
	left:10px;
	animation: star 20s infinite linear;
	box-shadow: 10px 10px 5px 0px yellow;
	border-radius: 50%;
}	

.moon{
	position: absolute;
	right: 0;
	bottom: -30%;
	width: 90px;
	height: 90px;
	background: radial-gradient(circle at 30% 50%, rgba(0,0,0,0) 50% ,yellow 50%);
	animation: moon 20s infinite linear;
	border-radius: 50%;
}

.boat{

	width: 200px;
	height: 50px;
	position: absolute;
	
	font-size: 0px;
		 top:230px;
 left: 100%;
 transform: scale(0.5);
 animation: boat 2s infinite, boat_line 15s  linear;

	

}
.boat:before{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 100%;
border-top: 50px solid rgba(0,0,0,0);
	border-right: 50px solid #3D1800;
	border-bottom: 50px solid rgba(0,0,0,0);
	height: 50px;
	box-sizing: border-box;

}

.boat:after{
	content:"";
	display: inline-block;
	position: absolute;
	left:  100%;
	bottom: 0;
	background: #3D1800;
	width: 80px;
	height: 50px;
	transform: rotate(-45deg);
	
	transform-origin: 0% 100%;
}
.boat_window{
	width: 33%;
	height: 50px;
	display: inline-block;
	
	background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0) 20% ,#3D1800 20%)
}
.casle{
	position: absolute;
	height:300px ;
	width: 100%;
	bottom: 0;
	left: 0;
	background: grey;
	border-top: 3px solid #303030FF;

}

	

.lk{
	
	background: transparent;
	border-radius: 50%;
 animation: water 2s;
 transition: all 4s;
  box-shadow: 0 0px 30px 5px #009688, 0 0px 30px 2px #009688 inset;

display: inline-block;
position: absolute;

	height: 0px;
	width: 0px;
	bottom: 485px;
left: 185px;
animation-delay: 2.9s;
}

.lk2{
	
	background: transparent;
	border-radius: 50%;
 animation: water 2s;
 transition: all 4s;
  box-shadow: 0 0px 30px 5px #009688, 0 0px 30px 2px #009688 inset;

display: inline-block;
position: absolute;

	height: 0px;
	width: 0px;
	bottom: 485px;
left: 1030px;
animation-delay: 7s;
}

.core{
	height: 50px;
	width: 50px;
	background: radial-gradient(circle at 50% 50%, rgba(51, 51, 51, 1)  ,black );
	border-radius: 50px;
	position: absolute;
	left: 180px;
	bottom:280px;
	animation: core 3s linear; 
}
.core2{
	height: 50px;
	width: 50px;
	background: radial-gradient(circle at 50% 50%, rgba(51, 51, 51, 1)  ,black );
	border-radius: 50px;
	position: absolute;
	left: 575px;
	bottom:280px;
	animation: core 3s linear; 
	animation-delay: 10s;
	 z-index: 1;
}
.core3{
	height: 50px;
	width: 50px;
	background: radial-gradient(circle at 50% 50%, rgba(51, 51, 51, 1)  ,black);
	border-radius: 50px;
	position: absolute;
	left: 1025px;
	bottom:280px;
	animation: core 3s linear;
	animation-delay: 3.9s;
	 z-index: 1;
}


.gun{
	position: absolute;
	width: 100px;
	height: 150px;
	top: 0;
	left: 150px;
z-index: 2;


}
.g_1{
	left: 150px;
}
.g_2{
left: 550px;
}
.g_3{
	left: 1000px;
}
.gun4{
	position: absolute;
	top: -20px;
	right: 00px;

	width: 50px;
	height: 0px;
	/*transform: perspective(800px);*/
	border-right: 20px solid rgba(0,0,0,0);
	border-left: 20px solid transparent;
	border-bottom: 100px solid #1E1E1EFF;


}
.gun1{
	width: 70px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	background: radial-gradient(at 50% 50%, #1E1E1EFF 50% ,#191919 50%);
	top: -35px;
	right: 10px; ;

}
.gun2{
	width: 90px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	background: radial-gradient(at 50% 50%, #191919 20% ,#1E1E1EFF 20%);
	border-top: 2px solid #494949FF;
	top: 60px;
	right: 00px; 

}
.gun3{
	width: 90px;
	height: 40px;
	position: absolute;
	
	background: linear-gradient( #1E1E1EFF 0%,#353535 50%, #1E1E1EFF 100%);
	top: 10px;
	right: 00px; 


}


.boat_top{
	height: 200px;
	width: 30px;
	position: absolute;
	background: rgba(0,0,0,0);
	bottom:100%;
	right: 50%;
	border-radius: 100% 0 0 100%/50% 0 0 50%;
	border-left: 70px solid black;
	border-right: 8px solid #3D1800;

	
}
.boat_top:before{
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 100%;
	width: 50px;
	border-top: 40px solid black;
	border-right:40px solid rgba(0,0,0,0);
	border-left:40px solid black ;
	border-bottom: 40px solid black ;
	margin-left: 8px;

}
.boat_top:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 80px;
	left: 100%;
	width: 85px;
	height: 85px;
;
	transform: rotate(45deg);
		transform-origin: 0% 0%;
		margin-left: 8px;
	background: radial-gradient(farthest-corner circle at -100% 200%, rgba(0,0,0,0) 79% ,#141414FF 79%)	

}
.skull{
	height: 100px;
	width: 100px;
	background:white;
	border-radius: 50%;
	position: absolute;
	top: -25px;
	left: 95%;
transform: scale(0.3);
}
.skull_circle{
	width: 30px;
	height: 30px;
	position: absolute;
	background:white;
	top: 73px;
	left: 6px;
	border-radius: 50%;
	box-shadow: 58px 0px 0px 0px white;

}
.skull_square{
	height: 40px;
	width: 60px;
	position: absolute;
	top: 80px;
	left: 20px;
	background:white;
	border-radius: 0 0 15px 15px/ 0 0 15px 15px;

}
.eye{
	width: 25px;
	height: 25px;
	position: absolute;
	background:black;
	top: 40px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 35px 0px 0px 0px black;
}
.nose{
	height: 25px;
	width: 25px;
	position: absolute;
	top: 80px;
	left: 38px;
	background:radial-gradient(farthest-corner circle at 0% 100%, rgba(0,0,0,0) 80% ,black 80%);
	
 transform: rotate(-45deg);
}
.bone1{
		height: 15px;
	width: 120px;
	position: absolute;
	top: 150px;
	left: -9px;
	background: white;
	transform: rotate(-20deg);

}
.bone2{
		height: 15px;
	width: 120px;
	position: absolute;
	top: 150px;
	left: -10px;
	background: white;
	transform: rotate(20deg);

}
.bone_circle{
	height: 15px;
	width: 15px;
	position: absolute;
	background: white;
	border-radius: 50%;
	top: 123px;
	left: -8px;
	box-shadow:  -7px 13px 0px 0px white, 110px 13px 0px 0px white,106px 0px 0px 0px white,
	-7px 40px 0px 0px white,0px 53px 0px 0px white,106px 53px 0px 0px white,110px 40px 0px 0px white;
}


@keyframes sky{
  0%,100%{
    background: darkslateblue;
  }
  25% {
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
  }
  43% {
    background: darkslateblue;
    box-shadow: 0 -400px 300px -300px orangered inset;
  }
  50% {
    background: darkslateblue;
  }
  60%{background: black;
  	box-shadow: 0 -400px 300px -300px black inset;

  }
   90%{background: black;
  	box-shadow: 0 -400px 300px -300px black inset;

  }


}

@keyframes sun {
  0% {
  }
  5% {
    margin-left: -4.5em;
  }
 10% {
    margin-left: -5.5em;
    background: orange;

  }
  15% {
    margin-left: -6em;
  }
  20% {
    margin-left: -4.5em;
     background: gold;
    box-shadow: 0 0 35px gold;
  }
  25% {
    left: 50%;
    bottom: 75%;
    width: 5em;
    height: 5em;
    margin-left: -2.5em;
  }
 30% {
    margin-left: 1.5em;
        background: yellow;
    box-shadow: 0 0 35px yellow;
  }
  35% {
    margin-left: 3.5em;
  }
  40% {
    margin-left: 2.5em;
     background: orange;
  }
  45% {
    margin-left: 1em;
  }
  50% {
    left: 98%;
    margin-left: -2.5em;
    bottom: -50%;
  }
  100%{left: 0;
  bottom: -50%;
  width: 10em;

  }
}
@keyframes moon {
	0%{right: 0;
  bottom: -30%;


	}
  50% {left: 0;
  bottom: -40%;
  width: 110px;
 height: 110px;
  }
 
 60% {
   
    

  }
 
  70% {
   

    
  }
  75% {
    left: 50%;
    bottom: 75%;
    
     width: 80px;
    height: 80px;
   
   
  }
 80% {
 
  
  }

  99% {    left: 100%;
    bottom: -30%;
 width: 110px;
 height: 110px;

  }
  
100%{
		right: 0;
  bottom: -30%;
}

}

@keyframes star{
	0%,50%,100%{height: 0;
		width: 0;
		box-shadow: 19px 31px 0px 0px yellow,56px 110px 0px 0px yellow,50px 90px 0px 0px yellow,90px 165px 0px 0px yellow,54px 550px 0px 0px yellow,520px 90px 0px 0px yellow,90px 46px 0px 0px yellow,351px 62px 0px 0px yellow,183px 65px 0px 0px yellow,458px 45px 0px 0px yellow,621px 128px 0px 0px yellow,59px 30px 0px 0px yellow,1151px 220px 0px 0px yellow,952px 158px 0px 0px yellow,539px 300px 0px 0px yellow,1050px 10px 0 0px yellow,850px 108px 0px 0px yellow,736px 0px 0px 0px yellow,590px 286px 0px 0px yellow,150px 260px 0px 0px yellow,658px 190px 0px 0px yellow,936px 128px 0px 0px yellow,452px 36px 0px 0px yellow,555px 222px 0px 0px yellow,639px 53px 0px 0px yellow,888px 101px 0px 0px yellow,362px 39px 0px 0px yellow,1060px 91px 0px 0px yellow;
	}
	

	
	75%{height: 4px;
		width: 4px;
		box-shadow: 19px 31px 4px 2px yellow,56px 110px 4px 2px yellow,50px 90px 4px 2px yellow,90px 165px 4px 2px yellow,54px 550px 4px 2px yellow,520px 90px 4px 2px yellow,90px 46px 4px 2px yellow,351px 62px 4px 2px yellow,183px 65px 4px 2px yellow,458px 45px 4px 2px yellow,621px 128px 4px 2px yellow,59px 30px 4px 2px yellow,1151px 220px 4px 2px yellow,952px 158px 4px 2px yellow,539px 300px 4px 2px yellow,1050px 10px 4px 2px yellow,850px 108px 4px 2px yellow,736px 0px 4px 2px yellow,590px 286px 4px 2px yellow,150px 260px 4px 2px yellow,658px 190px 4px 2px yellow,936px 128px 4px 2px yellow,452px 36px 4px 2px yellow,555px 222px 4px 2px yellow,639px 53px 4px 2px yellow,888px 101px 4px 2px yellow,362px 39px 4px 2px yellow,1060px 91px 4px 2px yellow;

	}
	

}

@keyframes rise{
	0%,50%,100%{
		box-shadow: 0 330px 300px -300px orangered inset;
	}
	25%{
		box-shadow: 0 200px 300px -300px orangered inset;
	}
	75%{
		box-shadow: 0 200px 300px -300px orangered inset;
		background:#03012CFF;
	}
}
@keyframes sea{
	0%,50%,100%{
		background: blue
	}
	25%{
		
	}
	75%{
		
		background:#03012CFF;
	}
}

@keyframes boat{
	0%{
	transform: scale(0.1), rotateY(30deg) ;

	top: 10%;
	right: 10%;

	}
	25%{transform: rotateY(30deg);

	}
50%{transform: rotateY(0deg);
transform: scale(1);
top: 70%;
	right: 50%;
}
75%{
	transform: rotateY(0deg);
}

	100%{
transform: rotateY(0deg);
transform: scale(1);
top: 70%;
	right: 80%;
	}
}
@keyframes water{
	0%{height: 0;
		width: 0;

	}
	
	100%{
height: 15px;
		width: 50px;
	}
}
@keyframes core{

	0%{


bottom:280px;
transform: scale(1);
}
50%{
bottom:680px;

}
100%{
	bottom:480px;
	transform: scale(.3);
}
}
@keyframes boat{

 0%{transform: rotate(5deg) scale(0.4)/*translate(0px 10px)*/;

 }
 50%{transform: rotate(-5deg) scale(0.4)/*translate(0px -10px)*/;

 }
 100%{transform: rotate(5deg) scale(0.4)/*translate(0px 10px))*/;

 }
	}
@keyframes	boat_line{
	0%{left: 100%;
top: 230px;
	}
	
		
	
	90%{
		left:500px;
		top: 230px;
	
	}
	100%{
		left:500px;
		top: 320px;
	
	}
}